body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

/* __reset__ */

/* __base__ */

.wrapper {
  max-width: 2600px;
  margin: 0 auto;
  padding-left: 18px;
  padding-right: 18px;
}

.wrapper ::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}

.wrapper ::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

.wrapper ::-webkit-scrollbar-track {
  background-color: #E4E8F6;
  border-radius: 50px;
}

.wrapper ::-webkit-scrollbar-track-piece {
  background-color: #E4E8F6;
}

.wrapper ::-webkit-scrollbar-thumb {
  background-color: #0BBBEF;
  border-radius: 50px;
}

.wrapper ::-webkit-scrollbar-corner {
  background-color: transparent;
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/OpenSans/OpenSans-Bold.ttf") format("truetype"), url("../fonts/OpenSans/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Bold.eot") format("eot");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/OpenSans/OpenSans-Regular.ttf") format("truetype"), url("../fonts/OpenSans/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Regular.eot") format("eot");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/OpenSans/OpenSans-Regular.ttf") format("truetype"), url("../fonts/OpenSans/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Regular.eot") format("eot");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "OpenSans-Regular";
  background: #fff;
}

body.modal-open {
  overflow: hidden;
}

a,
button {
  cursor: pointer;
}

a:focus,
button:focus {
  outline: none;
}

input {
  cursor: text;
}

input:focus {
  outline: none;
}

@media screen and (max-width: 2570px) {
  .wrapper {
    max-width: -webkit-calc(100vw - 135px);
    max-width: calc(100vw - 135px);
  }
}

@media screen and (max-width: 1250px) {
  .wrapper {
    max-width: -webkit-calc(100vw - 55px);
    max-width: calc(100vw - 55px);
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 668px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 578px) {
  .wrapper {
    max-width: -webkit-calc(100vw - 20px);
    max-width: calc(100vw - 20px);
  }
}